AZURE_OPENAI_SERVICE="SERVICE-NAME"
AZURE_OPENAI_TEXT_COMPLETION_MODEL=DEPLOYMENT-NAME
AZURE_OPENAI_EMBEDDING_MODEL=ADA-DEPLOYMENT
AZURE_SEARCH_SERVICE=SEARCH-SERVICE-NAME
AZURE_COMPUTERVISION_SERVICE=COMPUTERVISION-SERVICE-NAME
AZURE_TENANT_ID=TENANT-ID